<div class="row">
  <div class="col-sm-8">
    <h4>{{dish.name}}</h4>
  </div>
  <div class="col-sm-4">
    <h4>{{dish.price}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <p>{{dish.description}}</p>
  </div>
  <div class="col-sm-4">
    <p>Rating: </p>
  </div>
</div>

<button class="btn btn-danger" {{action 'deleteDish' dish}}>Delete Dish</button>

{{edit-dish dish=dish editDish2="editDish3"}}
