<div class="new-restaurant">
    {{#if addNewRestaurant}}
    <h1>New Restaurant</h1>
      <form>
        <div class="form-group">
          <label for="name">Name:</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="location">Location:</label>
          {{input value=location id="location"}}
        </div>

        <div class="form-group">
          <label for="cuisine">Cuisine:</label>
          {{input value=cuisine id="cuisine"}}
        </div>

        <div class="form-group">
          <label for="pricerange">Price Range:</label>
          {{input value=pricerange id="pricerange"}}
        </div>

        <button class="btn btn-primary" {{action 'save1'}}>Save</button>
      </form>

  {{else}}

    <button class="btn btn-primary" {{action 'restaurantFormShow'}}>New restaurant</button>
  {{/if}}
</div>
